@import './global';

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem .5rem;
    background-color: $red;

    a {
        color: $white;
        font-family: $passion;
        font-size: 32px;
    }
}

.hero-container {
    position: relative;
    color: $white;

    h1 {
        font-family: $raleway;
        font-size: 24px;
    }

    h2 {
        font-family: $raleway;
        font-size: 48px;
        font-weight: 900;
    }

    .hero-image {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100vw;
        max-height: 100vh;
        filter: brightness(.5);
    }

    .flex-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .header-logo {
        border-radius: 1rem;
    }
}

.store-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-image: url("/media/black-paper.png");
    background-color: $red;
    color: $black;
    font-family: $raleway;
    font-size: 18px;

    h2 {
        padding-bottom: .5rem;
        font-size: 48px;
        font-family: $passion;
        text-align: center;
    }

    .hours {
        width: 350px;
        padding: 2rem 2rem 3rem;
        background-color: $white;
        border-radius: 2rem;

        .day {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .5rem;

            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    .location {
        padding: 2rem 2rem 3rem;
        background-color: $white;
        border-radius: 2rem;

        .map-subtitle {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 14px;
        }
    }
}

.menu-container {
    h2 {
        font-family: $passion;
        font-size: 48px;
        text-align: center;
    }
}

.about-container {
    padding: 3rem;
    background-image: url("/media/black-paper.png");
    background-color: $red;

    h2 {
        color: $white;
        font-family: $passion;
        font-size: 48px;
        text-align: center;
    }

    p {
        color: $white;
        font-family: $raleway;
        font-size: 24px;
    }
}

@media (max-width: 850px) {
    .store-container {
        flex-direction: column;

        .location {
            margin-top: 2rem;
        }
    }
}