@import './global';
@import 'variables.scss';

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    padding: 1rem .5rem;
    background-color: $primary-color;

    a {
        color: $secondary-color;
        font-family: $passion;
        font-size: 32px;
    }

    .nav-special {
        padding: .2rem 12px;
        border-radius: 1rem;
        background-color: $secondary-color;
        color: $primary-color;
        transition: .2s;
    }
}

.hero-container {
    position: relative;
    min-height: 90vh;
    max-height: 90vh;
    color: $secondary-color;
    background-color: $tertiary-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    h1 {
        font-family: $raleway;
        font-size: 24px;
    }

    h2 {
        font-family: $raleway;
        font-size: 48px;
        font-weight: 900;
    }

    .hero-image {
        position: absolute;
        top: 0;
        width: 100vw;
        max-height: 90vh;
        filter: brightness(.5);
    }

    .flex-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        backdrop-filter: brightness(65%);
    }

    .header-logo {
        border-radius: 1rem;
    }
}

.store-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-image: url("/media/black-paper.png");
    background-color: $primary-color;
    color: #000000;
    font-family: $raleway;
    font-size: 18px;

    h2 {
        padding-bottom: .5rem;
        font-size: 48px;
        font-family: $passion;
        text-align: center;
    }

    .hours {
        width: 350px;
        padding: 2rem 2rem 3rem;
        background-color: $secondary-color;
        border-radius: 2rem;

        .day {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .5rem;

            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    .location {
        padding: 2rem;
        background-color: $secondary-color;
        border-radius: 2rem;

        .map {
            display: block;
            margin: 0 auto;
        }

        .map-subtitle {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 14px;
        }

        .phone svg,
        .email svg {
            width: 50px;
            padding-right: 8px;
        }

        .phone,
        .email {
            text-align: center;
            font-weight: 900;
            overflow-wrap: break-word;
        }

        .phone {
            padding: 1rem 0;
        }
    }
}

.menu-container {
    padding-top: 1rem;
    text-align: center;

    h2 {
        font-family: $passion;
        font-size: 48px;
        text-align: center;
    }

    .order-link {
        display: inline-block;
        margin: 1rem;
        padding: .2rem 12px;
        border-radius: 1rem;
        background-color: $primary-color;
        color: $secondary-color;
        font-family: $passion;
        font-size: 48px;
        transition: .2s;
    }

    .no-menu-placeholder {
        font-size: 18px;
        font-family: $raleway;
    }
}

.about-section {
    padding: 3rem;
    background-image: linear-gradient(to bottom right, $primary-color 33%, $secondary-color 33%, $secondary-color 66%, $tertiary-color 66%, $tertiary-color 100%);
    color: $white;

    .about-container {
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, .7);

        h2 {
            font-family: $passion;
            font-size: 48px;
            text-align: center;
        }

        p {
            padding: .5rem 0;
            font-family: $raleway;
            font-size: 24px;
        }
    }
}

.footer {
    background-color: $primary-color;

    .accordion-container {
        padding: 0;
    }

    .terms-of-use,
    .attribution {
        padding: 1rem 2rem;
        background-color: $primary-color;
        color: $gray;
        line-height: 150%;
        font-family: $raleway;

        a {
            color: $gray;
            text-decoration: underline;
        }

        li {
            list-style: disc;
        }
    }

    .attribution {
        display: block;
        width: 100%;
        text-align: center;

        .underline {
            text-decoration: underline;
        }
    }

}

@media (hover:hover) {

    .navbar .nav-special:hover,
    .menu-container .order-link:hover {
        background-color: $tertiary-color;
        color: $secondary-color;
    }
}

@media (max-width: 1000px) {
    .hero-container {
        .flex-container {
            flex-direction: column;
        }
    }
}

@media (max-width: 900px) {
    .navbar .nav-special {
        position: absolute;
        z-index: 1;
        bottom: -2rem;
        right: 1rem;

    }
}

@media (max-width: 850px) {
    .store-container {
        flex-direction: column;

        .hours,
        .location {
            width: 80%;
        }

        .location {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 650px) {
    .hero-container {
        .text-content {
            padding: 0 1.5rem;
        }
    }

    .navbar .nav-special {
        bottom: -1rem;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .navbar {
        a {
            font-size: 20px;
        }
    }

    .about-section {
        padding: .5rem;

        .about-container {
            .about-text {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .store-container {
        flex-direction: column;

        .hours,
        .location {
            width: 98%;

            .map {
                width: 100%;
            }
        }

        .hours {

            .day {
                flex-direction: column;
                width: 82%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 400px) {
    .hero-container {
        h2 {
            font-size: 36px;
        }
    }
}