@import "variables.scss";

.order-app {
    .accordion-container {
        .content {
            .menu-item {
                width: 100%;
                appearance: none;
                border: none;
                background-color: $white;
                cursor: pointer;
            }
        }
    }

    .item-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: green;
    }
}

@media (hover:hover) {
    .order-app {
        .accordion-container {
            .content {
                .menu-item:hover {
                    background-color: $gray;
                }
            }
        }
    }
}